.richtext-editor-content {
    border: 1px solid #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.richtext-placeholder:after {
    content: "What are your thoughts?";
    color: gray;
}

.richtext-editor-content {
    cursor: text;
}

.richtext-span-error-element {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    font-family: monospace;
    padding: 3px;
}
