.richtext-editor-content {
    border: 1px solid #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.richtext-placeholder:after {
    content: "What are your thoughts?";
    color: gray;
}

.richtext-editor-content {
    cursor: text;
}

.rt-error {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    font-family: monospace;
    padding: 3px;
}
.rt-error.rt-focus {
    outline: 1px dotted var(--outline-color);
}

.rte-pre {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.rt-spoiler {
    background-color: var(--spoiler-color);
    border-radius: 3px;
    &:hover {
        background-color: var(--spoiler-color-hover);
    }
}
.rt-spoiler-content {
    opacity: 0;
    background-color: var(--spoiler-color-revealed);
    transition: 0.2s opacity;
}
.rt-spoiler.rt-spoiler-reveal > .rt-spoiler-content {
    opacity: 1;
    border-radius: 3px;
}

.rt-inline-code {
    background-color: var(--spoiler-color-hover);
    padding: 5px;
    border-radius: 3px;
}
