**/.cache/
**/dist/
**/node_modules/
**/yarn-error.log

**/zig-cache/
**/zig-out/

**/server/deno
**/server/secret.ts

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

/packages/animator-ui-web/static/projects/project