**/.cache/
**/dist/
**/zig-cache/
**/node_modules/
**/coverage/
**/yarn-error.log

**/server/deno
**/server/secret.ts

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*