// normalization
button,
input,
textarea {
    // border: 1px solid var(--collapse-line-color-hover);
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 1px dotted var(--outline-color);
    }
}
.group:focus-visible .group-focus-visible-outline-default {
    outline: 1px dotted var(--outline-color);
}