html {
    background-color: white;
    -webkit-text-size-adjust: none;
}

.post {
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.replies > .comment:nth-child(1) {
    margin-top: 5px;
}

.replies > .comment > .post {
    box-shadow: none;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    border-radius: 0;
}

ul.replies {
    margin: 0;
    padding: 0;
}

ul.replies > li {
    list-style: none;
}
ul.replies > li:not(.comment) {
    padding-left: 15px;
}

li.comment {
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.post-thumbnail {
    all: unset;
    cursor: pointer;
}
.post-thumbnail:focus {
    outline: 1px dotted #212121;
}

.preview-image {
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
}
.gallery-overview-item {
    all: unset;
    cursor: pointer;
    margin: 5px;
}
.gallery-overview-item:focus {
    outline: 1px dotted #212121;
}

.flair {
    /*TODO dark theme #222*/
    background-color: #ddd;
    /* background-color: var(--flair-color); */
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.flair-emoji {
    width: 15px;
    height: 15px;
    object-fit: contain;
    vertical-align: middle;
}

button:disabled {
    opacity: 0.5;
}

.post.layout-reddit-post {
    display: grid;
    grid-template-columns: [voting] max-content [thumb] max-content [body] 1fr [end];
    grid-template-rows: [content] max-content [preview] max-content [replies] max-content [end];
    padding-left: 10px;
}
.post.layout-reddit-post > .post-voting {
    grid-column: voting;
    grid-row: content;
    margin-right: 20px;
    justify-content: center;
}
.post.layout-reddit-post > .post-thumbnail {
    grid-column: thumb;
    grid-row: content;
}
.post.layout-reddit-post > .post-titles {
    grid-column: body;
    grid-row: content;
}
.post.layout-reddit-post > .post-preview {
    grid-column: voting / end;
    grid-row: preview;
}
.post.layout-reddit-post > .post-replies {
    grid-column: voting / end;
    grid-row: replies;
}

.post.layout-reddit-post > .post-thumbnail {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.post.layout-reddit-post > .post-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail-builtin {
    width: 70px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://www.redditstatic.com/sprite-reddit.e1D0120k5y4.png");
    background-repeat: no-repeat;
}
.thumbnail-builtin.thumbnail-self {
    background-position: 0px -1267px;
}
.thumbnail-builtin.thumbnail-image {
    background-position: 0px -1043px;
}
.thumbnail-builtin.thumbnail-default {
    background-position: 0px -1099px;
}

.post.layout-reddit-comment {
    display: grid;
    grid-template-rows: [title] max-content [content] max-content [links] max-content [replies] max-content;
}

pre {
    white-space: pre-wrap;
}

.resizable-iframe {
    resize: both;
    overflow: auto;
    border: 2px solid #eee;
}
.resizable-iframe > iframe {
    width: 100%;
    height: 100%;
}

iframe {
    border: none;
}

.thumbnail-content-warning {
    overflow: hidden;
}
.thumbnail-content-warning > * {
    filter: blur(25px);
}
.no-thumbnail {
    display: none;
}

html {
    font-family: verdana, arial, helvetica, sans-serif;
}
.post-content-subminfo,
.post-content-buttons {
    font-size: x-small;
}

.post-content-buttons > button:not(.not-this-button) {
    all: unset;
    font-size: x-small;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.post-content-buttons > * {
    margin-left: 2px;
    margin-right: 2px;
}

.post-content-buttons > button:focus {
    outline: 1px dotted #212121;
}

.post.layout-reddit-comment {
    position: relative;
    padding-left: 20px;
}
.post-voting {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 5px;
    align-items: center;
}
.post.layout-reddit-comment > .post-voting {
    position: absolute;
    left: 3px;
    top: 10px;
}
.post-voting > button {
    all: unset;
    background-image: url("https://www.redditstatic.com/sprite-reddit.e1D0120k5y4.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 14px;
    cursor: pointer;
}
.post-voting > button:focus {
    outline: 1px dotted #212121;
}
.post-voting > .vote-up {
    background-position: -106px -1654px;
}
.post-voting.voted-up > .vote-up {
    background-position: 0px -1676px;
}
.post-voting > .vote-score {
    font-size: small;
}
.post-voting.voted-up > .vote-score {
    color: #ff8b60;
}
.post-voting.voted-down > .vote-score {
    color: #9494ff;
}
.post-voting.voted-loading > .vote-up,
.post-voting.voted-loading > .vote-down {
    opacity: 0.5;
}
.post-voting > .vote-down {
    background-position: -64px -1654px;
}
.post-voting.voted-down > .vote-down {
    background-position: -85px -1654px;
}
.post.layout-reddit-comment > .collapse-btn {
    all: unset;
    position: absolute;
    left: 3px;
    top: 48px;
    bottom: 10px;
    background: linear-gradient(
        to right,
        transparent 40%,
        #eee 40%,
        #eee 60%,
        transparent 60%
    );
    width: 15px;
    cursor: pointer;
    min-height: 13px;
}
.replies > .comment > .post.layout-reddit-comment > .collapse-btn {
    bottom: 0;
}
.post.layout-reddit-comment.comment-collapsed > .collapse-btn:focus {
    outline: 1px dotted #212121; /*TODO: only enable this on tab key*/
}
.post.layout-reddit-comment > .collapse-btn:focus {
    background: linear-gradient(
        to right,
        transparent 40%,
        #ddd 40%,
        #ddd 60%,
        transparent 60%
    );
}
.post.layout-reddit-comment > .collapse-btn:hover {
    background: linear-gradient(
        to right,
        transparent 40%,
        #aaa 40%,
        #aaa 60%,
        transparent 60%
    );
}
.post.layout-reddit-comment.comment-collapsed > .collapse-btn {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANBAMAAACAxflPAAAAJFBMVEUaGhtPvP8hMz5AkcI+i7srUGcfLDRJrOk0aosvW3coSFwxY4GN0McTAAAARUlEQVQI12NgYFANYgCBZEFBMyDFVigoKJ7AwMAsKOEoaMDAoCgo6SgoxMAQKOLV4igKpKUnrWwUhYnD1MH0wc2BmIsAAGr+CwVdeNphAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
}

.post.layout-reddit-comment.comment-collapsed > .post-content-subminfo {
    font-style: italic;
    color: #666;
}
.post.layout-reddit-comment.comment-collapsed > .post-content-subminfo > a {
    color: #444;
}

.post.layout-reddit-comment > .post-content-subminfo,
.post.layout-reddit-comment > .post-preview {
    margin-left: 3px;
}

.post.layout-reddit-comment.comment-collapsed > .post-voting,
.post.layout-reddit-comment.comment-collapsed > .post-preview,
.post.layout-reddit-comment.comment-collapsed > .post-content-buttons,
.post.layout-reddit-comment.comment-collapsed > .post-replies {
    display: none;
}

.error {
    color: red;
}

.post-body {
    font-size: small;
}
.post-body > .slightlybigger {
    font-size: 1.0769230769230769em; /* ??? */
}

.md-spoiler-text {
    background-color: #ccc;
}
.md-spoiler-text:hover {
    background-color: #bbb;
}
.md-spoiler-content {
    background-color: #eee;
    transition: 0.2s opacity;
}
