html {
    -webkit-text-size-adjust: none;
}

html,
body,
input,
textarea,
select,
button {
    background-color: var(--body-color);
    border-color: black;
    color: black;
    @media (prefers-color-scheme: dark) {
        background-color: var(--body-color);
        border-color: #736b5e;
        color: #e8e6e3;
    }
}

@media (prefers-color-scheme: dark) {
    a {
        color: #3391ff;
    }
    table {
        border-color: #545b5e;
    }
    ::placeholder {
        color: #b2aba1;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background-color: #555b00 !important;
        color: #e8e6e3 !important;
    }
    ::-webkit-scrollbar {
        background-color: #202324;
        color: #aba499;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #454a4d;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #575e62;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #484e51;
    }
    ::-webkit-scrollbar-corner {
        background-color: #181a1b;
    }
    * {
        scrollbar-color: #202324 #454a4d;
    }
    ::selection {
        background-color: #004daa !important;
        color: #e8e6e3 !important;
    }
    ::-moz-selection {
        background-color: #004daa !important;
        color: #e8e6e3 !important;
    }
}

:root {
    --max-height: 95vh;

    --body-color: white;

    --link-color: blue;
    --outline-color: #212121;
    --upvote-color: #ff8b60;
    --downvote-color: #9494ff;

    --collapse-line-color: #eee;
    --collapse-line-color-focus: #ddd;
    --collapse-line-color-hover: #aaa;

    --flair-color: #ddd;

    --collapsed-header-color: #666;
    --collapsed-header-link-color: #444;

    --error-color: red;

    --spoiler-color: #ccc;
    --spoiler-color-hover: #bbb;
    --spoiler-color-revealed: #eee;

    --blockquote-text-color: #4f4f4f;

    @media (prefers-color-scheme: dark) {
        --body-color: #181a1b;

        --link-color: rgb(51, 125, 255);
        --outline-color: rgb(129, 120, 106);
        --upvote-color: rgb(255, 137, 93);
        --downvote-color: rgb(129, 175, 255);

        --collapse-line-color: rgb(34, 36, 38);
        --collapse-line-color-focus: rgb(43, 47, 49);
        --collapse-line-color-hover: rgb(72, 78, 81);

        --flair-color-dark: rgb(43, 47, 49);

        --collapsed-header-color: rgb(168, 160, 149);
        --collapsed-header-link-color: rgb(189, 183, 175);

        --error-color: rgb(255, 26, 26);

        --spoiler-color: rgb(53, 57, 59);
        --spoiler-color-hover: rgb(62, 68, 70);
        --spoiler-color-revealed: rgb(34, 36, 38);

        --blockquote-text-color: rgb(182, 176, 166);
    }
}

.post {
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.replies > .comment:nth-child(1) {
    margin-top: 5px;
}

.replies > .comment > .post {
    box-shadow: none;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    border-radius: 0;
}

ul.replies {
    margin: 0;
    padding: 0;
    & > li {
        list-style: none;
        padding-left: 0;
        margin-top: 10px;
        &.threaded {
            position: relative;
            &:before {
                content: "⤷";
                position: absolute;
                left: -15px;
                top: 4px;
                background-color: var(--body-color);
                pointer-events: none;
            }
        }
        &.comment {
            margin: 0;
        }
    }
}
.clickable {
    cursor: pointer;
}

.post-thumbnail {
    all: unset;
    cursor: pointer;
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}

.preview-image {
    max-width: 100%;
    max-height: var(--max-height);
    width: auto;
}
.gallery-overview-item {
    all: unset;
    cursor: pointer;
    margin: 5px;
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}

.flair {
    background-color: var(--flair-color);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    @media (prefers-color-scheme: dark) {
        background-color: var(--flair-color-dark);
    }
}

.flair-emoji {
    width: 15px;
    height: 15px;
    object-fit: contain;
    vertical-align: middle;
}

button:disabled {
    opacity: 0.5;
}

.post.layout-reddit-post {
    display: grid;
    grid-template-columns: [voting] max-content [thumb] max-content [body] 1fr [end];
    grid-template-rows: [content] max-content [preview] max-content [replies] max-content [end];
    padding-left: 10px;
    & > .post-voting {
        grid-column: voting;
        grid-row: content;
        margin-right: 20px;
        justify-content: center;
    }
    & > .post-thumbnail {
        grid-column: thumb;
        grid-row: content;
    }
    & > .post-titles {
        grid-column: body;
        grid-row: content;
    }
    & > .post-preview {
        grid-column: voting / end;
        grid-row: preview;
    }
    & > .post-replies {
        grid-column: voting / end;
        grid-row: replies;
    }

    & > .post-thumbnail {
        width: 70px;
        height: 70px;
        margin-right: 20px;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.thumbnail-builtin {
    width: 70px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://www.redditstatic.com/sprite-reddit.e1D0120k5y4.png");
    background-repeat: no-repeat;
    &.thumbnail-self {
        background-position: 0px -1267px;
    }
    &.thumbnail-image {
        background-position: 0px -1043px;
    }
    &.thumbnail-default {
        background-position: 0px -1099px;
    }
}

.post.layout-reddit-comment {
    display: grid;
    grid-template-rows: [title] max-content [content] max-content [links] max-content [replies] max-content;
}

pre {
    white-space: pre-wrap;
}

.resizable-iframe {
    resize: both;
    overflow: auto;
    border: 2px solid var(--collapse-line-color);
    & > iframe {
        width: 100%;
        height: 100%;
    }
}

iframe {
    border: none;
}

.thumbnail-content-warning {
    overflow: hidden;
}
.thumbnail-content-warning > * {
    filter: blur(25px);
}
.no-thumbnail {
    display: none;
}

html {
    font-family: verdana, arial, helvetica, sans-serif;
}
.post-content-subminfo,
.post-content-buttons {
    font-size: x-small;
}

.post-content-buttons > button:not(.not-this-button) {
    all: unset;
    font-size: x-small;
    cursor: pointer;
    color: var(--link-color);
    text-decoration: underline;
}
.post-content-buttons > * {
    margin-left: 2px;
    margin-right: 2px;
}

.post-content-buttons > button:focus {
    outline: 1px dotted var(--outline-color);
}

.post.layout-reddit-comment {
    position: relative;
    padding-left: 25px;
    --left-v: 8px;
    .replies > .comment > & {
        padding-left: 20px;
        --left-v: 3px;
    }
}

.post-voting {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 5px;
    align-items: center;
    .post.layout-reddit-comment > & {
        position: absolute;
        left: var(--left-v);
        top: 10px;
    }
    & > button {
        all: unset;
        background-image: url("https://www.redditstatic.com/sprite-reddit.e1D0120k5y4.png");
        background-repeat: no-repeat;
        width: 15px;
        height: 14px;
        cursor: pointer;
    }
    & > button:focus {
        outline: 1px dotted var(--outline-color);
    }
    & > .vote-up {
        background-position: -106px -1654px;
    }
    &.voted-up > .vote-up {
        background-position: 0px -1676px;
    }
    & > .vote-score {
        font-size: small;
    }
    &.voted-up > .vote-score {
        color: var(--upvote-color);
    }
    &.voted-down > .vote-score {
        color: var(--downvote-color);
    }
    &.voted-loading > .vote-up,
    &.voted-loading > .vote-down {
        opacity: 0.5;
    }
    & > .vote-down {
        background-position: -64px -1654px;
    }
    &.voted-down > .vote-down {
        background-position: -85px -1654px;
    }
}

.post.layout-reddit-comment > .collapse-btn {
    all: unset;
    position: absolute;
    left: var(--left-v);
    top: 48px;
    bottom: 10px;
    background: linear-gradient(
        to right,
        transparent 40%,
        var(--collapse-line-color) 40%,
        var(--collapse-line-color) 60%,
        transparent 60%
    );
    width: 15px;
    cursor: pointer;
    min-height: 13px;
    &:focus {
        background: linear-gradient(
            to right,
            transparent 40%,
            var(--collapse-line-color-focus) 40%,
            var(--collapse-line-color-focus) 60%,
            transparent 60%
        );
    }
    &:hover {
        background: linear-gradient(
            to right,
            transparent 40%,
            var(--collapse-line-color-hover) 40%,
            var(--collapse-line-color-hover) 60%,
            transparent 60%
        );
    }
}
.replies > .comment > .post.layout-reddit-comment > .collapse-btn {
    bottom: 0;
}
.post.layout-reddit-comment.comment-collapsed > .collapse-btn {
    background-color: rgba(0, 0, 0, 0);
    // prettier-ignore
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAA"
        + "AAMBAMAAACkW0HUAAAAHlBMVEUAAABOTk9RUlRJT1RLT1RFTFRrb3NRU1ZMTlBETlmf"
        + "S/wNAAAACXRSTlMAIFXNneC1Znuehch6AAAAQ0lEQVQI12NgYBBSZAAC4ZkzDRkYGCN"
        + "nzpwqwMA8c5rnTAMGyZnTPWdOZNCc4pTiOYlBc0aheuYkqCBUCVQDVDvUMACiaBZHdg"
        + "gPqAAAAABJRU5ErkJggg=="
    );
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
    &:focus {
        // TODO: only enable this on tab key
        outline: 1px dotted var(--outline-color);
    }
    @media (prefers-color-scheme: dark) {
        // prettier-ignore
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA"
            + "AwAAAAMBAMAAACkW0HUAAAAJFBMVEUAAACI0v9Uv/9Vvv9qxv+Y2P9QvP9fwv9l"
            + "w/9vyP9hxP9PvP+l1/zDAAAAC3RSTlMAP8O6ZjPsindagDeGst4AAABDSURBVAj"
            + "XY2BgEHFkAIKg3btVGRhYs3fv3hbAwLR7u/VuBQbp3Tusd29k8N5sWWy9hcF7V+"
            + "OM6i1QQagSqAaodqhhAIXuG8GwciC2AAAAAElFTkSuQmCC"
        );
    }
}

.post.layout-reddit-comment.comment-collapsed > .post-content-subminfo {
    font-style: italic;
    color: var(--collapsed-header-color);
    & > a {
        color: var(--collapsed-header-link-color);
    }
}

.post.layout-reddit-comment {
    & > .post-content-subminfo,
    & > .post-preview {
        margin-left: 3px;
    }
    &.comment-collapsed {
        & > .post-voting,
        & > .post-preview,
        & > .post-content-buttons,
        & > .post-replies {
            display: none;
        }
    }
}

.error {
    color: var(--error-color);
}

.post-body {
    font-size: small;
    margin-top: 10px;
    .layout-reddit-comment > .post-preview > & {
        margin-bottom: 10px;
    }
    & > .slightlybigger {
        font-size: 1.0769230769230769em; // ???
    }
}

.md-spoiler-text {
    background-color: var(--spoiler-color);
    border-radius: 3px;
    &:hover {
        background-color: var(--spoiler-color-hover);
    }
}
.md-spoiler-content {
    background-color: var(--spoiler-color-revealed);
    transition: 0.2s opacity;
}

.display-comments-view {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    margin-left: 0;
    padding-left: 10px;
    border-left: 2px solid var(--collapse-line-color-hover);
    color: var(--blockquote-text-color);
}

.user-link {
    color: var(--light-color);
    @media (prefers-color-scheme: dark) {
        color: var(--dark-color);
    }
}

body {
    margin-bottom: 50vh;
}

.showpreviewbtn {
    all: unset;
    cursor: pointer;
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}
