html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
    word-wrap: anywhere;
    word-break: break-word;
}

input,
textarea,
select,
button,
textarea {
    background-color: var(--post-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

html,
body {
    background-color: var(--body-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    table {
        border-color: #545b5e;
    }
    ::placeholder {
        color: #b2aba1;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background-color: #555b00 !important;
        color: #e8e6e3 !important;
    }
    ::-webkit-scrollbar {
        background-color: #202324;
        color: #aba499;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #454a4d;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #575e62;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #484e51;
    }
    ::-webkit-scrollbar-corner {
        background-color: #181a1b;
    }
    * {
        scrollbar-color: #202324 #454a4d;
    }
    ::selection {
        background-color: #004daa !important;
        color: #e8e6e3 !important;
    }
    ::-moz-selection {
        background-color: #004daa !important;
        color: #e8e6e3 !important;
    }
}

:root {
    --max-height: 95vh;

    --body-color: #d6dde4;
    --post-color: white;
    --text-color: black;

    --border-color: black;

    --link-color: rgb(51, 125, 255);
    --outline-color: #212121;
    --upvote-color: #ff8b60;
    --downvote-color: #9494ff;

    --collapse-line-color: #eee;
    --collapse-line-color-focus: #ddd;
    --collapse-line-color-hover: #aaa;

    --flair-color: #ddd;

    --collapsed-header-color: #666;
    --collapsed-header-link-color: #444;

    --error-color: red;

    --spoiler-color: #ccc;
    --spoiler-color-hover: #bbb;
    --spoiler-color-revealed: #eee;

    --blockquote-text-color: #4f4f4f;

    --alert-color: #ff4242;

    @media (prefers-color-scheme: dark) {
        --body-color: #131516;
        --post-color: #181a1b;
        --text-color: white;

        --border-color: #736b5e;

        --link-color: #3391ff;
        --outline-color: rgb(129, 120, 106);
        --upvote-color: rgb(255, 137, 93);
        --downvote-color: rgb(129, 175, 255);

        --collapse-line-color: rgb(34, 36, 38);
        --collapse-line-color-focus: rgb(43, 47, 49);
        --collapse-line-color-hover: rgb(72, 78, 81);

        --flair-color-dark: rgb(43, 47, 49);

        --collapsed-header-color: rgb(168, 160, 149);
        --collapsed-header-link-color: rgb(189, 183, 175);

        --error-color: rgb(255, 26, 26);

        --spoiler-color: rgb(53, 57, 59);
        --spoiler-color-hover: rgb(62, 68, 70);
        --spoiler-color-revealed: rgb(34, 36, 38);

        --blockquote-text-color: rgb(182, 176, 166);

        --alert-color: #590004;
    }
}

// normalization
button,
input,
textarea {
    border: 1px solid var(--collapse-line-color-hover);
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}
input,
textarea {
    border-radius: 5px;
}

a {
    color: var(--link-color);
}

.post {
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    background-color: var(--post-color);
    border-radius: 10px;
}

.mobile-only {
    display: none;
}
@media only screen and (max-width: 600px) {
    .mobile-only {
        display: unset;
    }
    .desktop-only {
        display: none;
    }
    body {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .top-level-post {
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .post-content-title,
    .widget-header {
        font-size: small;
    }
}

.widget-header {
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 10px;
}

.widget-content {
    font-size: small;
}

.replies > .comment:nth-child(1) {
    margin-top: 5px;
}

.replies > .comment > .post {
    box-shadow: none;
    background-color: transparent;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    border-radius: 0;
}

ul.replies {
    margin: 0;
    padding: 0;
    & > li {
        list-style: none;
        padding-left: 0;
        margin-top: 10px;
        &.threaded {
            position: relative;
            &:before {
                content: "⤷";
                position: absolute;
                left: -15px;
                top: 4px;
                background-color: var(--post-color);
                pointer-events: none;
            }
        }
        &.comment {
            margin: 0;
        }
    }
}
.clickable {
    cursor: pointer;
}

.post-thumbnail {
    all: unset;
    cursor: pointer;
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}

.preview-image {
    max-width: 100%;
    max-height: var(--max-height);
    width: auto;
    height: auto;
}
.gallery-overview-item {
    all: unset;
    cursor: pointer;
    margin: 5px;
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}

.flair {
    background-color: var(--flair-color);
    border-radius: 50px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    @media (prefers-color-scheme: dark) {
        background-color: var(--flair-color-dark);
    }
    &.flair-text-light {
        color: white;
    }
    &.flair-text-dark {
        color: black;
    }
}

.flair-emoji {
    width: 15px;
    height: 15px;
    object-fit: contain;
    vertical-align: middle;
}

button:disabled {
    opacity: 0.5;
}

.post.layout-reddit-post {
    display: grid;
    grid-template-columns: [voting] max-content [thumb] max-content [body] 1fr [end];
    grid-template-rows: [content] max-content [preview] max-content [replies] max-content [end];
    padding-left: 10px;
    & > .post-voting {
        width: 60px;
        grid-column: voting;
        grid-row: content;
        & > .counter {
            margin-right: 10px;
            justify-content: center;
            height: 100%;
        }
    }
    & > .post-thumbnail {
        grid-column: thumb;
        grid-row: content;
    }
    & > .post-titles {
        grid-column: body;
        grid-row: content;
    }
    & > .post-preview {
        grid-column: voting / end;
        grid-row: preview;
    }
    & > .post-replies {
        grid-column: voting / end;
        grid-row: replies;
    }

    & > .post-thumbnail {
        width: 70px;
        height: 70px;
        margin-right: 20px;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.thumbnail-builtin {
    width: 70px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://www.redditstatic.com/sprite-reddit.e1D0120k5y4.png");
    background-repeat: no-repeat;
    &.thumbnail-self {
        background-position: 0px -1267px;
    }
    &.thumbnail-image {
        background-position: 0px -1043px;
    }
    &.thumbnail-default {
        background-position: 0px -1099px;
    }
    &.thumbnail-spoiler {
        background-position: 0px -1211px;
    }
    &.thumbnail-nsfw {
        background-position: 0px -1155px;
    }
    &.thumbnail-account {
        background-position: 0px -1211px;
    }
    &.thumbnail-error {
        background: red;
    }
}

.post.layout-commentlike {
    display: grid;
    grid-template-rows: [title] max-content [content] max-content [links] max-content [replies] max-content;
}

pre {
    white-space: pre-wrap;
}

.resizable-iframe {
    resize: both;
    overflow: auto;
    border: 2px solid var(--collapse-line-color);
    & > iframe {
        width: 100%;
        height: 100%;
    }
}

iframe {
    border: none;
}

.thumbnail-content-warning {
    overflow: hidden;
}
.thumbnail-content-warning > * {
    filter: blur(25px);
}
.no-thumbnail {
    display: none;
}

html {
    font-family: verdana, arial, helvetica, sans-serif;
}
.post-content-subminfo,
.post-content-buttons {
    font-size: x-small;
}

.link-like-button {
    all: unset;
    font-size: x-small;
    cursor: pointer;
    color: var(--link-color);
    text-decoration: underline;
}
.post-content-buttons > * {
    margin-left: 2px;
    margin-right: 2px;
}

.post-content-buttons > button:focus {
    outline: 1px dotted var(--outline-color);
}

.post.layout-commentlike {
    position: relative;
    padding-left: 25px;
    --left-v: 8px;
    .replies > .comment > & {
        padding-left: 20px;
        --left-v: 3px;
    }
    & > .post-voting > .counter > .counter-count {
        display: none;
    }
}

.post.layout-commentlike > .post-voting {
    position: absolute;
    left: var(--left-v);
    top: 10px;
}
.post-voting > .counter {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 5px;
    align-items: center;
    & > button {
        all: unset;
        background-image: url("https://www.redditstatic.com/sprite-reddit.e1D0120k5y4.png");
        background-repeat: no-repeat;
        width: 15px;
        height: 14px;
        cursor: pointer;
        & > span {
            display: none;
        }
    }
    & > button:focus {
        outline: 1px dotted var(--outline-color);
    }
    & > .counter-increment-btn {
        background-position: -106px -1654px;
    }
    &.counted-increment > .counter-increment-btn {
        background-position: 0px -1676px;
    }
    & > .counter-count {
        font-size: small;
    }
    &.counted-increment > .counter-count {
        color: var(--upvote-color);
    }
    &.counted-decrement > .counter-count {
        color: var(--downvote-color);
    }
    &.counted-loading > .counter-increment-btn,
    &.counted-loading > .counter-decrement-btn {
        opacity: 0.5;
    }
    & > .counter-decrement-btn {
        background-position: -64px -1654px;
    }
    &.counted-decrement > .counter-decrement-btn {
        background-position: -85px -1654px;
    }
}

.post.layout-commentlike.spacefiller-redditpoints > .collapse-btn {
    top: 48px;
}
.post.layout-commentlike.spacefiller-pfp > .collapse-btn {
    top: 60px;
}
.post.layout-commentlike > .collapse-btn {
    all: unset;
    position: absolute;
    left: var(--left-v);
    top: 10px;
    bottom: 10px;
    background: linear-gradient(
        to right,
        transparent 40%,
        var(--collapse-line-color) 40%,
        var(--collapse-line-color) 60%,
        transparent 60%
    );
    width: 15px;
    cursor: pointer;
    min-height: 13px;
    &:focus {
        background: linear-gradient(
            to right,
            transparent 40%,
            var(--collapse-line-color-focus) 40%,
            var(--collapse-line-color-focus) 60%,
            transparent 60%
        );
    }
    &:hover {
        background: linear-gradient(
            to right,
            transparent 40%,
            var(--collapse-line-color-hover) 40%,
            var(--collapse-line-color-hover) 60%,
            transparent 60%
        );
    }
}
.replies > .comment > .post.layout-commentlike > .collapse-btn {
    bottom: 0;
}
.post.layout-commentlike.comment-collapsed > .collapse-btn {
    background-color: rgba(0, 0, 0, 0);
    // prettier-ignore
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAA"
        + "AAMBAMAAACkW0HUAAAAHlBMVEUAAABOTk9RUlRJT1RLT1RFTFRrb3NRU1ZMTlBETlmf"
        + "S/wNAAAACXRSTlMAIFXNneC1Znuehch6AAAAQ0lEQVQI12NgYBBSZAAC4ZkzDRkYGCN"
        + "nzpwqwMA8c5rnTAMGyZnTPWdOZNCc4pTiOYlBc0aheuYkqCBUCVQDVDvUMACiaBZHdg"
        + "gPqAAAAABJRU5ErkJggg=="
    );
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
    &:focus {
        // TODO: only enable this on tab key
        outline: 1px dotted var(--outline-color);
    }
    @media (prefers-color-scheme: dark) {
        // prettier-ignore
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA"
            + "AwAAAAMBAMAAACkW0HUAAAAJFBMVEUAAACI0v9Uv/9Vvv9qxv+Y2P9QvP9fwv9l"
            + "w/9vyP9hxP9PvP+l1/zDAAAAC3RSTlMAP8O6ZjPsindagDeGst4AAABDSURBVAj"
            + "XY2BgEHFkAIKg3btVGRhYs3fv3hbAwLR7u/VuBQbp3Tusd29k8N5sWWy9hcF7V+"
            + "OM6i1QQagSqAaodqhhAIXuG8GwciC2AAAAAElFTkSuQmCC"
        );
    }
}

.post.layout-commentlike.comment-collapsed > .post-content-subminfo {
    font-style: italic;
    color: var(--collapsed-header-color);
    & > a {
        color: var(--collapsed-header-link-color);
    }
}

.post.layout-commentlike.spacefiller-pfp {
    & > .post-content-title,
    & > .post-content-subminfo,
    & > .post-preview,
    & > .post-content-buttons {
        margin-left: 42px;
    }
}

.post.layout-commentlike {
    & > .post-content-subminfo,
    & > .post-preview {
        margin-left: 3px;
    }
    &.comment-collapsed {
        & > .post-voting,
        & > .post-preview,
        & > .post-content-buttons,
        & > .post-replies {
            display: none;
        }
    }
}

.error {
    color: var(--error-color);
}

.post-body {
    font-size: small;
    margin-top: 10px;
    .layout-commentlike > .post-preview > & {
        margin-bottom: 10px;
    }
    & > .slightlybigger {
        font-size: 1.0769230769230769em; // ???
    }
}

.md-spoiler-text {
    background-color: var(--spoiler-color);
    border-radius: 3px;
    &:hover {
        background-color: var(--spoiler-color-hover);
    }
}
.md-spoiler-content {
    background-color: var(--spoiler-color-revealed);
    transition: 0.2s opacity;
}

.display-comments-view {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    margin-left: 0;
    padding-left: 10px;
    border-left: 2px solid var(--collapse-line-color-hover);
    color: var(--blockquote-text-color);
}

.user-link {
    color: var(--light-color);
    @media (prefers-color-scheme: dark) {
        color: var(--dark-color);
    }
}

body {
    margin-bottom: 200px;
}

.showpreviewbtn {
    all: unset;
    cursor: pointer;
    &:focus {
        outline: 1px dotted var(--outline-color);
    }
}

.pfp {
    width: 50px;
    height: 50px;
    border-radius: 25px;

    background-image: var(--url);
    background-size: contain;
    background-repeat: no-repeat;

    // box-sizing: border-box;
    // border: 2px solid #000;

    transition: 0.2s border-radius;

    &:hover {
        background-image: var(--url-hover);
        border-radius: 0;
    }
}
.pfp-reblog {
    width: 30px;
    height: 30px;
    transform: translate(15px, -15px);
}

.gallery-overview-image {
    max-width: 108px;
    max-height: 108px;
    width: auto;
    height: auto;
}

.counter {
    &.counted-loading {
        opacity: 0.5;
    }
}

.overlay-bottom {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.overlay-top {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.load-more {
    margin-left: 8px;
    font-size: small;
}

th,
td {
    border: 1px solid var(--collapse-line-color-hover);
    padding: 4px 9px;
    margin: 0;
}
table {
    border-collapse: collapse;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid var(--text-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.display-loading {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-loading {
    background-color: rgba(0, 0, 0, 0.1);
    // oh my this is quite long
    // prettier-ignore
    background-image: url("data:image/gif;base64,R0lGODlhIAAgAPUAAP///15eXvv7+"
        + "9nZ2fDw8PX19eHh4a2trb+/v/j4+O7u7vz8/Lm5ubKysuzs7NHR0cLCwvLy8svLy+jo"
        + "6IWFhZSUlJqamqysrMfHx/Pz84yMjKKiomVlZV5eXt/f39vb2+bm5nl5eZmZmXBwcI2"
        + "NjczMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        + "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAA"
        + "AAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAIAAgAAAG"
        + "/0CAcEgkFjgcR3HJJE4SxEGnMygKmkwJxRKdVocFBRRLfFAoj6GUOhQoFAVysULRjNd"
        + "fQFghLxrODEJ4Qm5ifUUXZwQAgwBvEXIGBkUEZxuMXgAJb1dECWMABAcHDEpDEGcTBQ"
        + "MDBQtvcW0RbwuECKMHELEJF5NFCxm1AAt7cH4NuAOdcsURy0QCD7gYfcWgTQUQB6Zkr"
        + "66HoeDCSwIF5ucFz3IC7O0CC6zx8YuHhW/3CvLyfPX4+OXozKnDssBdu3G/xIHTpGAg"
        + "OUPrZimAJCfDPYfDin2TQ+xeBnWbHi37SC4YIYkQhdy7FvLdpwWvjA0JyU/ISyIx4xS"
        + "6sgfkNS4me2rtVKkgw0JCb8YMZdjwqMQ2nIY8BbcUQNVCP7G4MQq1KRivR7tiDEuEFr"
        + "ggACH5BAkKAAAALAAAAAAgACAAAAb/QIBwSCQmNBpCcckkEgREA4ViKA6azM8BEZ1Wh"
        + "6LOBls0HA5fgJQ6HHQ6InKRcWhA1d5hqMMpyIkOZw9Ca18Qbwd/RRhnfoUABRwdI3IE"
        + "SkQFZxB4bAdvV0YJQwkDAx9+bWcECQYGCQ5vFEQCEQoKC0ILHqUDBncCGA5LBiHCAAs"
        + "FtgqoQwS8Aw64f8m2EXdFCxO8INPKomQCBgPMWAvL0n/ff+jYAu7vAuxy8O/myvfX8/"
        + "f7/Arq+v0W0HMnr9zAeE0KJlQkJIGCfE0E+PtDq9qfDMogDkGmrIBCbNQUZIDosNq1k"
        + "UsEZJBW0dY/b0ZsLViQIMFMW+RKKgjFzp4fNokPIdki+Y8JNVxA79jKwHAI0G9JGw5t"
        + "CqDWTiFRhVhtmhVA16cMJTJ1OnVIMo1cy1KVI5NhEAAh+QQJCgAAACwAAAAAIAAgAAA"
        + "G/0CAcEgkChqNQnHJJCYWRMfh4CgamkzFwBOdVocNCgNbJAwGhKGUOjRQKA1y8XOGAt"
        + "ZfgIWiSciJBWcTQnhCD28Qf0UgZwJ3XgAJGhQVcgKORmdXhRBvV0QMY0ILCgoRmIRnC"
        + "QIODgIEbxtEJSMdHZ8AGaUKBXYLIEpFExZpAG62HRRFArsKfn8FIsgjiUwJu8FkJLYc"
        + "B9lMCwUKqFgGHSJ5cnZ/uEULl/CX63/x8KTNu+RkzPj9zc/0/Cl4V0/APDIE6x0csrB"
        + "JwybX9DFhBhCLgAilIvzRVUriKHGlev0JtyuDvmsZUZlcIiCDnYu7KsZ0UmrBggRP7n"
        + "1DqcDJEzciOgHwcwTyZEUmIKEMFVIqgyIjpZ4tjdTxqRCMPYVMBYDV6tavUZ8yczpkK"
        + "wBxHsVWtaqo5tMgACH5BAkKAAAALAAAAAAgACAAAAb/QIBwSCQuBgNBcck0FgvIQtHR"
        + "ZCYUGSJ0IB2WDo9qUaBQKIXbLsBxOJTExUh5mB4iDo0zXEhWJNBRQgZtA3tPZQsAdQI"
        + "NBwxwAnpCC2VSdQNtVEQSEkOUChGSVwoLCwUFpm0QRAMVFBQTQxllCqh0kkIECF0TG6"
        + "8UG2O0foYJDb8VYVa0alUXrxoQf1WmZnsTFA0EhgCJhrFMC5Hjkd57W0jpDsPDuFUDH"
        + "fHyHRzstNN78PPxHOLk5dwcpBuoaYk5OAfhXHG3hAy+KgLkgNozqwzDbgWYJQyXsUwG"
        + "XKNA6fnYMIO3iPeIpBwyqlSCBKUqEQk5E6YRmX2UdAT5kEnHKkQ5hXjkNqTPtKAARl1"
        + "sIrGoxSFNuSEFMNWoVCxEpiqyRlQY165wEHELAgAh+QQJCgAAACwAAAAAIAAgAAAG/0"
        + "CAcEgsKhSLonJJTBIFR0GxwFwmFJlnlAgaTKpFqEIqFJMBhcEABC5GjkPz0KN2tsvHB"
        + "H4sJKgdd1NHSXILah9tAmdCC0dUcg5qVEQfiIxHEYtXSACKnWoGXAwHBwRDGUcKBXYF"
        + "i0IJHmQEEKQHEGGpCnp3AiW1DKFWqZNgGKQNA65FCwV8bQQHJcRtds9MC4rZitVgCQb"
        + "f4AYEubnKTAYU6eoUGuSpu3fo6+ka2NrbgQAE4eCmS9xVAOW7Yq7IgA4Hpi0R8EZBhD"
        + "shOnTgcOtfM0cAlTigILFDiAFFNjk8k0GZgAxOBozouIHIOyKbFixIkECmIyIHOEiEW"
        + "bPJTTQ5FxcVOMCgzUVCWwAcyZJvzy45ADYVZNIwTlIAVfNB7XRVDLxEWLQ4E9JsKq+r"
        + "TdsMyhcEACH5BAkKAAAALAAAAAAgACAAAAb/QIBwSCwqFIuicklMEgVHQVHKVCYUmWe"
        + "UWFAkqtOtEKqgAsgFcDFyHJLNmbZa6x2Lyd8595h8C48RagJmQgtHaX5XZUYKQ4YKEY"
        + "SKfVKPaUMZHwMDeQBxh04ABYSFGU4JBpsDBmFHdXMLIKofBEyKCpdgspsOoUsLXaRLC"
        + "QMgwky+YJ1FC4POg8lVAg7U1Q5drtnHSw4H3t8HDdnZy2Dd4N4Nzc/QeqLW1bnM7rXu"
        + "V9tEBhQQ5UoCbJDmWKBAQcMDZNhwRVNCYANBChZYEbkVCZOwASEcCDFQ4SEDIq6WTVq"
        + "QIMECBx06iCACQQPBiSabHDqzRUTKARMhSFCDrc+WNQIcOoRw5+ZIHj8ADqSEQBQAwK"
        + "KLhIzowEEeGKQ0owIYkPKjHihZoBKi0KFE01b4zg7h4y4IACH5BAkKAAAALAAAAAAgA"
        + "CAAAAb/QIBwSCwqFIuicklMEgVHQVHKVCYUmWeUWFAkqtOtEKqgAsgFcDFyHJLNmbZa"
        + "6x2Lyd8595h8C48RagJmQgtHaX5XZUUJeQCGChGEin1SkGlubEhDcYdOAAWEhRlOC12"
        + "HYUd1eqeRokOKCphgrY5MpotqhgWfunqPt4PCg71gpgXIyWSqqq9MBQPR0tHMzM5L0N"
        + "PSC8PCxVUCyeLX38+/AFfXRA4HA+pjmoFqCAcHDQa3rbxzBRD1BwgcMFIlidMrAxYIC"
        + "HHA4N8DIqpsUWJ3wAEBChQaEBnQoB6RRr0uARjQocMAAA0w4nMz4IOaU0lImkSngYKF"
        + "c3ZWyTwJAALGK4fnNA3ZOaQCBQ22wPgRQlSIAYwSfkHJMrQkTyEbKFzFydQq15ccOAj"
        + "UEwQAIfkECQoAAAAsAAAAACAAIAAABv9AgHBILCoUi6JySUwSBUdBUcpUJhSZZ5RYUC"
        + "Sq060QqqACyAVwMXIcks2ZtlrrHYvJ3zn3mHwLjxFqAmZCC0dpfldlRQl5AIYKEYSKf"
        + "VKQaW5sSENxh04ABYSFGU4LXYdhR3V6p5GiQ4oKmGCtjkymi2qGBZ+6eo+3g8KDvYLD"
        + "xKrJuXNkys6qr0zNygvHxL/V1sVD29K/AFfRRQUDDt1PmoFqHgPtBLetvMwG7QMes0K"
        + "xkkIFIQNKDhBgKvCh3gQiqmxt6NDBAAEIEAgUOHCgBBEH9Yg06uWAIQUABihQMACgBE"
        + "UHTRwoUEOBIcqQI880OIDgm5ABDA8IgUkSwAAyij1/jejAARPPIQwONBCnBAJDCEOOC"
        + "nFA8cOvEh1CEJEqBMIBEDaLcA3LJIEGDe/0BAEAIfkECQoAAAAsAAAAACAAIAAABv9A"
        + "gHBILCoUi6JySUwSBUdBUcpUJhSZZ5RYUCSq060QqqACyAVwMXIcks2ZtlrrHYvJ3zn"
        + "3mHwLjxFqAmZCC0dpfldlRQl5AIYKEYSKfVKQaW5sSENxh04ABYSFGU4LXYdhR3V6p5"
        + "GiQ4oKmGCtjkymi2qGBZ+6eo+3g8KDvYLDxKrJuXNkys6qr0zNygvHxL/V1sVDDti/B"
        + "QccA8yrYBAjHR0jc53LRQYU6R0UBnO4RxmiG/IjJUIJFuoVKeCBigBN5QCk43BgFgMK"
        + "FCYUGDAgFEUQRGIRYbCh2xACEDcAcHDgQDcQFGf9s7VkA0QCI0t2W0DRw68h8ChAEEL"
        + "SJE8xijBvVqCgIU9PjwA+UNzG5AHEB9xkDpk4QMGvARQsEDlKxMCALDeLcA0rqEEDlW"
        + "CCAAAh+QQJCgAAACwAAAAAIAAgAAAG/0CAcEgsKhSLonJJTBIFR0FRylQmFJlnlFhQJ"
        + "KrTrRCqoALIBXAxchySzZm2Wusdi8nfOfeYfAuPEWoCZkILR2l+V2VFCXkAhgoRhIp9"
        + "UpBpbmxIQ3GHTgAFhIUZTgtdh2FHdXqnkaJDigqYYK2OTKaLaoYFn7p6j0wOA8PEAw6"
        + "/Z4PKUhwdzs8dEL9kqqrN0M7SetTVCsLFw8d6C8vKvUQEv+dVCRAaBnNQtkwPFRQUFX"
        + "OduUoTG/cUNkyYg+tIBlEMAFYYMAaBuCekxmhaJeSeBgiOHhw4QECAAwcCLhGJRUQCg"
        + "3RDCmyUVmBYmlOiGqmBsPGlyz9YkAlxsJEhqCubABS9AsPgQAMqLQfM0oTMwEZ4QpLO"
        + "wvMLxAEEXIBG5aczqtaut4YNXRIEACH5BAkKAAAALAAAAAAgACAAAAb/QIBwSCwqFIu"
        + "icklMEgVHQVHKVCYUmWeUWFAkqtOtEKqgAsgFcDFyHJLNmbZa6x2Lyd8595h8C48Rah"
        + "AQRQtHaX5XZUUJeQAGHR0jA0SKfVKGCmlubEhCBSGRHSQOQwVmQwsZTgtdh0UQHKIHm"
        + "2quChGophuiJHO3jkwOFB2UaoYFTnMGegDKRQQG0tMGBM1nAtnaABoU3t8UD81kR+UK"
        + "3eDe4nrk5grR1NLWegva9s9czfhVAgMNpWqgBGNigMGBAwzmxBGjhACEgwcgzAPTqlw"
        + "GXQ8gMgAhZIGHWm5WjelUZ8jBBgPMTBgwIMGCRgsygVSkgMiHByD7DWDmx5WuMkZqDL"
        + "CU4gfAq2sACrAEWFSRLjUfWDopCqDTNQIsJ1LF0yzDAA90UHV5eo0qUjB8mgUBACH5B"
        + "AkKAAAALAAAAAAgACAAAAb/QIBwSCwqFIuickk0FIiCo6A4ZSoZnRBUSiwoEtYipNOB"
        + "DKOKKgD9DBNHHU4brc4c3cUBeSOk949geEQUZA5rXABHEW4PD0UOZBSHaQAJiEMJgQA"
        + "TFBQVBkQHZKACUwtHbX0RR0mVFp0UFwRCBSQDSgsZrQteqEUPGrAQmmG9ChFqRAkMsB"
        + "d4xsRLBBsUoG6nBa14E4IA2kUFDuLjDql4peilAA0H7e4H1udH8/Ps7+3xbmj0qOTj5"
        + "mEWpEP3DUq3glYWOBgAcEmUaNI+DBjwAY+dS0USGJg4wABEXMYyJNvE8UOGISKVCNCl"
        + "ah4xjg60WUKyINOCUwrMzVRARMGENWQ4n/jpNTKTm15J/CTK2e0MoD+UKmHEs4onVDV"
        + "VmyqdpAbNR4cKTjqNSots07EjzzJh1S0IADsAAAAAAAAAAAA="
    );
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    position: sticky;
    top: 0px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: var(--post-color);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    z-index: 1000000;
    @media only screen and (max-width: 600px) {
        margin: 0;
    }

    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    gap: 5px;

    overflow-x: auto;

    @media only screen and (max-width: 600px) {
        transform: var(--mobile-transform);
    }
}

.navbar-path {
    text-align: center;
    min-width: 0;
}

input,
textarea {
    font-size: 16px;
}

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--alert-color);
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 400px;
    z-index: 100000;
    @media only screen and (max-width: 600px) {
        left: 0;
        width: auto;
    }
    border-radius: 10px;
}

li.richtext-render-node > p:only-child {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 1000px) {
    .client-main-frame {
        display: grid;
        grid-template-columns: [content] 1fr [sidebar] 320px [end];
        grid-template-rows: [verytop] max-content [header] max-content [content] max-content [bottom] max-content [end];
    }
    .login-button-area {
        grid-row: verytop;
        grid-column: content / end;
    }
    .header-post {
        grid-column: content;
        grid-row: header;
    }
    .sidebar-area {
        grid-column: sidebar;
        grid-row: header / end;
    }
    .comments-area {
        grid-column: content;
        grid-row: content;
    }
    .display-fullscreen-view {
        .header-post {
            grid-column: content / end;
            grid-row: header;
        }
        .sidebar-area {
            grid-column: sidebar;
            grid-row: content;
        }
        .comments-area {
            grid-column: content;
            grid-row: content;
        }
    }
    .sidebar-toggle-mobile {
        display: none;
    }
}
@media only screen and (max-width: 999px) {
    .sidebar-area {
        display: none;
    }
    .sidebar-area.sidebar-visible-mobile {
        display: block;
    }
}
// TODO on mobile hide sidebar widgets behind a menu button

.widget-list {
    padding-left: 15px;
}

.widget-list-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: var(--background-image-url);
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
    vertical-align: middle;
}

.report-screen {
    margin: 10px;
    font-size: small;
}
.report-content {
    margin: 10px;
}
summary {
    cursor: pointer;
}

.widget.widget-iframe {
    padding: 0;
}
.widget-iframe iframe {
    width: 312px;
    border-radius: 10px;
}

.richtext-container {
    white-space: pre-wrap;
}

.post.widget {
    padding-left: 10px;
}
.post.widget.widget-image {
    padding: 0;
    line-height: 0;
    overflow: hidden;
}

.widget-image-img {
    max-width: 100%;
    width: auto;
    height: auto;
}
